{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top: 50px;">
  <h3><span class="badge badge-secondary">Statistics</span></h3>
  <button type="button" class="btn btn-primary">
    Continents <span class="badge badge-light">{{continents_amount}}</span>
  </button>
  <button type="button" class="btn btn-success">
    Countries <span class="badge badge-light">{{countries_amount}}</span>
  </button>
  <button type="button" class="btn btn-danger">
    Cities <span class="badge badge-light">{{cities_amount}}</span>
  </button>
</div>
<div class="container" style="margin-top: 50px;">
  <h3><span class="badge badge-secondary">Countries</span></h3>
  <table class="table table-sm">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>ISO</th>
    </tr>
    
    {% for c in countries %}
    <tr>
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td>{{c.iso_code}}</td>
    </tr>
    {% endfor %}
  </table>
  <a class="btn btn-link" href="{% url 'world_add_country' %}">Add Country</a>
  
</div>
<div class="container" style="margin-top: 50px;">
  <h3><span class="badge badge-secondary">Cities</span></h3>
  <table class="table table-sm">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
      {% for c in cities %}
      <tr>
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.type}}</td>
      </tr>
      {% endfor %}
  </table>
</div>
<div class="container">
  <h3><span class="badge badge-secondary">Capitols</span></h3>
  <table class="table table-sm">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
      {% for c in capitols %}
      <tr>
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.type}}</td>
      </tr>
      {% endfor %}
  </table>
</div>

{% endblock %}    